*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}
*::before,*::after{
    margin: 0;
    padding: 0;
}

.app-container{
    display: flex;
}
.app_coin{
    flex: 3;
}
.app_content{
    flex: 1;
}
a{
    text-decoration: none;
}